<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding new post</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <h1>Adding new post</h1>

    <div class="logOut">
        <a th:href="@{'/'}" class="button-red">Log out</a>
    </div><br/>

    <div class="block">
        <form method="POST" enctype="multipart/form-data" th:action="@{/addPost}" th:object="${post}">
            <div th:if="${#fields.hasErrors()}">
                <span class="error">
                    Please correct following errors:
                </span>
            </div>

            <label for="id">Additional authors:</label>
            <select th:value="${id}" name="id" id="id" multiple="multiple" class="select">
                <option th:each="author: ${authors}" th:unless="${author.id == userId}" th:value="${author.id}" th:text="${author.username}">Username</option>
            </select>
            <br/><br/>

            <label for="post_content">Post content:</label>
            <input type="text" th:field="*{post_content}" id="post_content" autofocus="autofocus"/>

            <span class="error" th:if="${#fields.hasErrors('post_content')}" th:errors="*{post_content}">Post content Error</span>
            <br/><br/>

            <label for="file">Attachment to upload:</label>
            <input type="file" name="file" id="file" class="button-file"/>
            <br/><br/>

            <label for="tag1">Tag #1:</label>
            <input type="text" name="tag1" id="tag1" required="required" pattern="^[a-zA-Z0-9]+$" title="Must contain only numbers and letters!"/>
            <br/><br/>

            <label for="tag2">Tag #2:</label>
            <input type="text" name="tag2" id="tag2" pattern="^[a-zA-Z0-9]+$" title="Must contain only numbers and letters!"/>
            <br/><br/>

            <label for="tag3">Tag #3:</label>
            <input type="text" name="tag3" id="tag3" pattern="^[a-zA-Z0-9]+$" title="Must contain only numbers and letters!"/>
            <br/><br/>

            <label for="tag4">Tag #4:</label>
            <input type="text" name="tag4" id="tag4" pattern="^[a-zA-Z0-9]+$" title="Must contain only numbers and letters!"/>
            <br/><br/>

            <input type="submit" value="Submit"/>
        </form>
        <br/>
        <a th:href="@{/homePage}" class="button">Cancel</a>
    </div>
</body>
</html>