<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author Page</title>
</head>
<body>
<h1 th:text="${'Author: ' + author.username}"/>
<h2  th:text="${author.first_name + ' ' + author.last_name}"/>
<a th:href="@{/}">Go back to main page</a>
<p th:text="${i == 1 ? 'This author has posted 1 post:' : 'This author has posted ' + i + ' posts:'}"/>
<div th:each="post : ${posts}">
    <p>Other authors: <span th:each="par: ${pa}" th:if="${par.id_post == post.id}"><a th:each="author2 : ${authors}" th:href="@{/authorPage/{id}(id=${author2.id})}" th:text="${par.id_author == author2.id and author2.id != author.id ? author2.username : ''} + ${' '}"/></span></p>
    <a th:href="@{/postPage/{id}(id=${post.id})}" th:text = "${post.post_content}"/>
    <p>Attachments: <p th:each="attachment : ${attachments}" th:if="${attachment.id_post == post.id}"><a th:text="${attachment.filename}" th:href="@{/files/{filename}(filename=${attachment.filename})}"/></p></p>
    <p th:text="${'Tags: '} + ${post.tags}"/>
    <p>Comments:</p>
    <div th:each="comment :${comments}" th:if="${post.id == comment.id_post}">
        <a th:href="@{/userPage/{username}(username=${comment.username})}" th:text="${comment.username}"/>
        <p th:text="${comment.comment_content}"/>
    </div>
</div>

</body>
</html>