<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author Page</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <h1 th:text="${'Author: ' + author.username}"/>
    <h2  th:text="${author.first_name + ' ' + author.last_name}"/>

    <div class="logOut">
        <a th:href="@{'/'}" class="button-red">Log out</a>
    </div>

    <a th:href="@{/homePage}" class="button">Go back to main page</a>
    <h3 th:text="${i == 1 ? 'This author has posted 1 post:' : 'This author has posted ' + i + ' posts:'}"/>

    <div th:each="post : ${posts}">
        <div class="block">
            <div th:if="${userId == 1}">
                <a th:href="@{/editPost/{id}(id=${post.id})}" id="editPostAdmin" class="button-red">Edit this post</a>
                <a th:href="@{/deletePostConfirm/{id}(id=${post.id})}" id="deletePostAdmin" class="button-red">Delete this post</a>
            </div>
            <div th:unless="${userId == 1}" th:each="author: ${post.authors}" th:if="${author.id == userId}">
                <a th:href="@{/editPost/{id}(id=${post.id})}" id="editPost" class="button-red">Edit this post</a>
                <a th:href="@{/deletePostConfirm/{id}(id=${post.id})}" id="deletePost" class="button-red">Delete this post</a>
            </div>

            <p class="authors">Authors: <span th:each="author : ${post.authors}"><a th:href="@{/authorPage/{id}(id=${author.id})}" th:text="${author.username}" class="button-invisible"/></span></p>
            <p class="post"><a th:href="@{/postPage/{id}(id=${post.id})}" th:text = "${post.post_content}" class="button-invisible"/></p>
            <p class="attachments">Attachments: <span th:each="attachment : ${post.attachments}"><a th:text="${attachment.filename}" th:href="@{/files/{filename}(filename=${attachment.filename})}" class="button-invisible"/></span></p>
            <p class="tags">Tags: <span th:each="tag: ${post.tags}"><a th:text="${tag.title}" th:href="@{/tags/{id}(id=${tag.id})}" class="button-invisible"/></span></p>

            <form method="POST" th:action="@{/addComment/{id}(id=${post.id})}" th:object="${comment}">
                <div th:if="${#fields.hasErrors() and post.id == postIdForCommentErrors}">
                    <span class="error">Please correct following errors:</span>
                </div>

                <label for="comment_content">Comment content: </label>
                <input type="text" th:field="*{comment_content}" id="comment_content"/>
                <span th:if="${#fields.hasErrors('comment_content') and post.id == postIdForCommentErrors}" th:errors="*{comment_content}" class="error">Comment content Error</span>
                <input type="submit" value="Comment"/>
            </form>
            <br/>

            <div class="comments">
                <p>Comments:</p>
                <div th:each="comment :${post.comments}">
                    <div class="comment">
                    <span th:each="author: ${authors}">
                        <span th:each="commentA: ${author.comments}" th:if="${comment.id == commentA.id}">
                            <a th:href="@{/authorPage/{id}(id=${author.id})}" th:text="${author.username}" class="button-invisible"/>
                            <p th:text="${comment.comment_content}"/>
                            <a th:if="${author.id == userId or userId == 1}" th:href="@{/editComment/{id}(id=${comment.id})}" class="button-red">Edit this comment</a>
                            <a th:if="${author.id == userId or userId == 1}" th:href="@{/deleteCommentConfirm/{id}(id=${comment.id})}" class="button-red">Delete this comment</a>
                        </span>
                    </span>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
        <br/>
    </div>

    <h3 th:text="${j == 1 ? 'This author has posted 1 comment:' : 'This author has posted ' + j + ' comments:'}"/>

    <div th:each="post : ${postsC}">
        <div class="block">
            <div th:if="${userId == 1}">
                <a th:href="@{/editPost/{id}(id=${post.id})}" id="editPostAdmin" class="button-red">Edit this post</a>
                <a th:href="@{/deletePostConfirm/{id}(id=${post.id})}" id="deletePostAdmin" class="button-red">Delete this post</a>
            </div>
            <div th:unless="${userId == 1}" th:each="author: ${post.authors}" th:if="${author.id == userId}">
                <a th:href="@{/editPost/{id}(id=${post.id})}" id="editPost" class="button-red">Edit this post</a>
                <a th:href="@{/deletePostConfirm/{id}(id=${post.id})}" id="deletePost" class="button-red">Delete this post</a>
            </div>

            <p class="authors">Authors: <span th:each="author : ${post.authors}"><a th:href="@{/authorPage/{id}(id=${author.id})}" th:text="${author.username}" class="button-invisible"/></span></p>
            <p class="post"><a th:href="@{/postPage/{id}(id=${post.id})}" th:text = "${post.post_content}" class="button-invisible"/></p>
            <p class="attachments">Attachments: <span th:each="attachment : ${post.attachments}"><a th:text="${attachment.filename}" th:href="@{/files/{filename}(filename=${attachment.filename})}" class="button-invisible"/></span></p>
            <p class="tags">Tags: <span th:each="tag: ${post.tags}"><a th:text="${tag.title}" th:href="@{/tags/{id}(id=${tag.id})}" class="button-invisible"/></span></p>

            <form method="POST" th:action="@{/addComment/{id}(id=${post.id})}" th:object="${comment}">
                <div th:if="${#fields.hasErrors() and post.id == postIdForCommentErrors}">
                    <span class="error">Please correct following errors:</span>
                </div>

                <label for="comment_content">Comment content: </label>
                <input type="text" th:field="*{comment_content}" id="comment_content"/>
                <span th:if="${#fields.hasErrors('comment_content') and post.id == postIdForCommentErrors}" th:errors="*{comment_content}" class="error">Comment content Error</span>
                <input type="submit" value="Comment"/>
            </form>
            <br/>

            <div class="comments">
                <p>Comments:</p>
                <div th:each="comment :${post.comments}">
                    <div class="comment">
                    <span th:each="author: ${authors}">
                        <span th:each="commentA: ${author.comments}" th:if="${comment.id == commentA.id}">
                            <a th:href="@{/authorPage/{id}(id=${author.id})}" th:text="${author.username}" class="button-invisible"/>
                            <p th:text="${comment.comment_content}"/>
                            <a th:if="${author.id == userId or userId == 1}" th:href="@{/editComment/{id}(id=${comment.id})}" class="button-red">Edit this comment</a>
                            <a th:if="${author.id == userId or userId == 1}" th:href="@{/deleteCommentConfirm/{id}(id=${comment.id})}" class="button-red">Delete this comment</a>
                        </span>
                    </span>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
        <br/>
    </div>

</body>
</html>