<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete comment</title>
</head>
<body>
<h1>Are you sure u want to delete this comment?</h1>
<a th:href="@{/userPage/{username}(username=${comment.username})}" th:text="${comment.username}"/>
<p th:text="${comment.comment_content}"/>

<a th:href="@{'/deleteComment/{id}'(id=${comment.id})}">Yes</a>
<a th:href="@{/}">No</a>
<div>
    <h2>For post:</h2>
    <p>Authors: <span th:each="par : ${pa}" th:if="${par.id_post == post.id}"><a th:each="author : ${authors}" th:href="@{/authorPage/{id}(id=${author.id})}" th:text="${par.id_author == author.id ? author.username : ''} + ${' '}"/></span></p>
    <a th:href="@{/postPage/{id}(id=${post.id})}" th:text = "${post.post_content}"/>
    <p>Attachments: <p th:each="attachment : ${attachments}" th:if="${attachment.id_post == post.id}"><a th:text="${attachment.filename}" th:href="@{/files/{filename}(filename=${attachment.filename})}"/></p></p>
    <p th:text="${'Tags: '} + ${post.tags}"/>
    <div th:each="comment :${comments}" th:if="${post.id == comment.id_post}">
        <a th:href="@{/userPage/{username}(username=${comment.username})}" th:text="${comment.username}"/>
        <p th:text="${comment.comment_content}"/>
    </div>
</div>
</body>
</html>