<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Post</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <h1>Are you sure u want to delete this post?</h1>
    <div class="logOut">
        <a th:href="@{'/'}" class="button-red">Log out</a>
    </div><br/>

    <div class="block">
        <a th:href="@{'/deletePost/{id}'(id=${post.id})}" id="deletePost" class="button-red">Yes</a>
        <a th:href="@{/homePage}" class="button">No</a>
        <br/>
        <p class="authors">Authors: <span th:each="author : ${post.authors}"><a th:href="@{/authorPage/{id}(id=${author.id})}" th:text="${author.username}" class="button-invisible"/></span></p>
        <p class="post"><a th:href="@{/postPage/{id}(id=${post.id})}" th:text = "${post.post_content}" class="button-invisible"/></p>
        <p class="attachments">Attachments: <span th:each="attachment : ${post.attachments}"><a th:text="${attachment.filename}" th:href="@{/files/{filename}(filename=${attachment.filename})}" class="button-invisible"/></span></p>
        <p class="tags">Tags: <span th:each="tag: ${post.tags}"><a th:text="${tag.title}" th:href="@{/tags/{id}(id=${tag.id})}" class="button-invisible"/></span></p>
        <div class="comments">
            <p>Comments:</p>
            <div th:each="comment :${post.comments}">
                <div class="comment">
                    <span th:each="author: ${authors}">
                        <span th:each="commentA: ${author.comments}" th:if="${comment.id == commentA.id}">
                            <a th:href="@{/authorPage/{id}(id=${author.id})}" th:text="${author.username}" class="button-invisible"/>
                            <p th:text="${comment.comment_content}"/>
                        </span>
                    </span>
                </div>
                <br/>
            </div>
        </div>
    </div>
</body>
</html>