<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editing post</title>
</head>
<body>
<h1>Editing post</h1>
<p>Actual authors: <span th:each="par : ${pa}" th:if="${par.id_post == post.id}"><a th:each="author : ${authors}" th:href="@{/authorPage/{id}(id=${author.id})}" th:text="${par.id_author == author.id ? author.username : ''} + ${' '}"/></span></p>
<form method="POST" th:action="@{/editPost/{id}(id=${post.id})}" th:object="${post}">
    <div th:if="${#fields.hasErrors()}">
            <span class="ValidationError">
                Please correct following errors:
            </span>
    </div>
    <label for="idA">Authors:</label>
    <select th:value="${idA}" name="idA" id="idA" multiple="multiple" required="required">
        <option th:each="author: ${authors}" th:value="${author.id}" th:text="${author.username}">Username</option>
    </select>
    <br/>

    <label for="post_content">Post content:</label>
    <input type="text" th:field="*{post_content}"/>

    <span class="validationError"
          th:if="${#fields.hasErrors('post_content')}"
          th:errors="*{post_content}">Post content Error
        </span>
    <br/>

    <label for="tags">Tags:</label>
    <input type="text" th:field="*{tags}"/>

    <span class="validationError"
          th:if="${#fields.hasErrors('tags')}"
          th:errors="*{tags}">Tags Error
        </span>
    <br/>
    <input type="submit" value="Submit"/>
</form>
<a th:href="@{'/'}">Cancel</a>
<p>Comments:</p>
<div th:each="comment :${comments}" th:if="${post.id == comment.id_post}">
    <a th:href="@{/userPage/{username}(username=${comment.username})}" th:text="${comment.username}"/>
    <p th:text="${comment.comment_content}"/>
</div>
</body>
</html>