<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome to my blog!</h1>
    <div>
        <form method="POST" th:action="@{/searchPost}">
            <label for="type">Search posts by:</label>
            <select th:value="${type}" name="type" id="type" required="required">
                <option th:value="content" th:text="${'Post content'}"/>
                <option th:value="author" th:text="${'Author'}"/>
                <option th:value="tags" th:text="${'Tag'}"/>
            </select>
            <br/>

            <input type="text" name="pattern" id="pattern"/>
            <br/>

            <input type="submit" value="Search"/>
        </form>
    </div>
    <br/>
    <a th:href="@{/addPost}">Add new post</a>
    <h2>Here are all the posts:</h2>
    <div th:each="post : ${posts}">
        <a th:href="@{/deletePostConfirm/{id}(id=${post.id})}" id="deletePost">Delete this post</a>
        <a th:href="@{/editPost/{id}(id=${post.id})}">Edit this post</a>
        <p>Authors: <span th:each="par : ${pa}" th:if="${par.id_post == post.id}"><span th:each="author : ${authors}" th:text="${par.id_author == author.id ? author.username : ''} + ${' '}"/></span></p>
        <p th:text = "${post.post_content}"/>
        <p th:text="${'Tags: '} + ${post.tags}"/>

        <form method="POST" th:action="@{/addComment/{id}(id=${post.id})}" th:object="${comment}">
            <div th:if="${#fields.hasErrors() and post.id == postIdForCommentErrors}">
                <span class="ValidationError">
                    Please correct following errors:
                </span>
            </div>

            <label for="username">Username: </label>
            <input type="text" th:field="*{username}"/>
            <span th:if="${#fields.hasErrors('username') and post.id == postIdForCommentErrors}"
                  th:errors="*{username}">Username Error
            </span>
            <br/>

            <label for="comment_content">Comment content: </label>
            <input type="text" th:field="*{comment_content}"/>
            <span th:if="${#fields.hasErrors('comment_content') and post.id == postIdForCommentErrors}"
                  th:errors="*{comment_content}">Comment content Error
            </span>
            <br/>

            <input type="submit" value="Comment"/>
        </form>

        <p>Comments:</p>
        <div th:each="comment :${comments}" th:if="${post.id == comment.id_post}">
            <p th:text="${comment.username + ': ' + comment.comment_content}"/>
            <a th:href="@{/editComment/{id}(id=${comment.id})}">Edit this comment</a>
            <a th:href="@{/deleteCommentConfirm/{id}(id=${comment.id})}">Delete this comment</a>
        </div>
    </div>
</body>
</html>