<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<h1 th:text="${'User: ' + username}"/>
<a th:href="@{/}">Go back to main page</a>
<p th:text="${i == 1 ? 'This user has posted 1 comment.' : 'This user has posted ' + i + ' comments.'}"/>
<p>User comments: </p>
<div th:each="comment : ${comments}">
    <p th:text="${comment.comment_content}"/>
    <a th:href="@{/postPage/{id}(id=${comment.id_post})}">Commented on this post</a>
</div>
</body>
</html>